/module-runtime
/module-data
/module-editor
/module-tools
/build
/help
/publish
/service/node_modules
/service/logger
/tools/sksource/output
/tools/startup/SkStarter/bin
/tools/startup/SkStarter/obj
/.vscode/*.DB-shm
/.vscode/.browse.VC.db-wal
/.vscode/.browse.VC.db
/.idea
/package-lock.json
*.pyc
/typings
node_modules